.weather-conditions {
  font-family: Lato;
  list-style: none;
  position: absolute;
  top: 48%;
  left: 36%;
}
.weather-conditions__light-class {
  color: #56a5f1;
}
.weather-conditions__dark-class {
  color: white;
}
