.temperature-grades {
  font-size: 80px;
  font-family: Lato;
  position: absolute;
  top: 17%;
  left: 36%;
}
.temperature-grades__light-class {
  color: #026eed;
}
.temperature-grades__dark-class {
  color: white;
}
