.container-all__background-light {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(213, 243, 255, 1) 0%,
    rgba(81, 180, 248, 1) 100%
  );
}
.container-all__background-dark {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(47, 41, 88, 1) 100%
  );
}
