<div
  id="dvLoading"
  class="container-all"
  [class]="dark ? 'container-all__background-dark' : 'container-all__background-light'">
  <div class="container">
    <div class="cloud front">
      <span class="left-front"></span>
      <span class="right-front"></span>
    </div>
    <span [class]="dark ? 'sun_background-dark sunshine' : 'sun_background-light sunshine'"></span>
    <span [class]="dark ? 'sun_background-dark' : 'sun_background-light'"></span>
    <div class="cloud back">
      <span class="left-back"></span>
      <span class="right-back"></span>
    </div>
  </div>
</div>
